@page "/login"
@using FinanceFrontend.DTO
@using FinanceFrontend.Services;
@inject AuthenticationService AuthService
@inject NavigationManager NavManager

<h3>Login</h3>

<div>
    <input @bind="loginDto.Username" placeholder="Username" />
    <input type="password" @bind="loginDto.Password" placeholder="Password" />
    <button @onclick="HandleLogin">Log in</button>
</div>

@code {
    UserLoginDto loginDto = new UserLoginDto();
    string errormessage;

    async Task HandleLogin()
    {
        var success = await AuthService.Login(loginDto);
        if (success)
        {
            NavManager.NavigateTo("/");
        }
        else
        {
            errormessage = "Wrong credentials try again!";
        }
    }
}