@page "/login"
@using FinanceFrontend.DTO
@using FinanceFrontend.Services;
@inject AuthenticationService AuthService
@inject NavigationManager NavManager

<h3>Login</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<div>
    <input @bind="loginDto.Username" placeholder="Username" />
    <input type="password" @bind="loginDto.Password" placeholder="Password" />
    <button @onclick="HandleLogin">Log in</button>
</div>

@code {
    UserLoginDto loginDto = new UserLoginDto();
    string errorMessage;

    async Task HandleLogin()
    {
        var (success, message, redirectTo) = await AuthService.Login(loginDto);
        if (success)
        {
            NavManager.NavigateTo(redirectTo);
        }
        else
        {
            errorMessage = message; // Display the error message from the login attempt
        }
    }
}
