@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <NavLink class="text-dark" href="/">Home</NavLink>
        <NavLink class="text-dark" href="/login">Login</NavLink>
        <NavLink class="text-dark" href="/register">Register</NavLink>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    .main {
        text-align: center;
        margin: auto;
        width: 60%;
        padding: 10px;
    }

    .top-row {
        display: flex;
        justify-content: end;
        padding: 1rem 0;
    }

    .content {
        margin-top: 20px;
    }

    a.text-dark {
        margin-left: 10px;
    }
</style>
